<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Femicides in Argentina</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/css/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
      
  <nav id="navbar-example2" class="navbar navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">FEMICIDES IN ARGENTINA</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#top">Top</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#middle">Data & Analysis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#bottom">Conclusion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer">About Us</a>
      </li>
    </ul>
  </nav>
    
    

    <!-- Top Section --> 
    <header class="masthead text-center text-black d-flex" id="top">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Femicides in Argentina</strong>
              <h3>Between January the 1st and December 31 of 2017, and according to Observatory of Violence Against Women "Not One [Woman] Less" ("Ni Una Menos") belonging to MuMaLá, a total of 298 femicides were registered in Argentina.
This is a collaborative end-of-course project to put in practice our recently acquired knowledge on Data Science and Web Dev by showing the alarming reality of women an diverse people in Argentina.</h3>
            </h1>
            <hr>
          </div>
        </div>
        <a href="https://notebooks.azure.com/berit0/libraries/femicides-in-argentina"  target="_blank" class="btn btn-outline-success my-2 my-sm-0" role="button">NOTEBOOK</a>
        <a href="http://datos.gob.ar/dataset/registro-sistematizacion-seguimiento-femicidios-homicidios-agravados-por-genero/archivo/050a5c1d-b4fa-4e98-b254-5938b9ef863a" target="_blank" class="btn btn-outline-success my-2 my-sm-0" role="button">CSV</a>
        <a href="https://medium.com/@berelarsenp/https-medium-com-berelarsenp-from-unemployed-to-data-scientist-bd5a1e2bf9c9"  target="_blank" class="btn btn-outline-success my-2 my-sm-0" role="button">MEDIUM</a>
      </div>
    </header>
    
    <!-- Middle Section -->
    <section class="bg-dark" id="middle" style="color: #fff">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            
            
            <!-- Dynamic Tabs -->
            <div class="container">
              
            <style type="text/css">
              .tab-link {
                /*color: #fff*/
              }
              .tab-link:hover {
                /*color: #fff*/
              }
            </style>
              <ul class="nav nav-tabs">
                <li class="nav-link"><a data-toggle="tab" href="#menu0" class="tab-link">Victim Age</a></li>
                <li class="nav-link"><a data-toggle="tab" href="#menu1" class="tab-link">Victim Type</a></li>
                <li class="nav-link"><a data-toggle="tab" href="#menu2" class="tab-link">Cases per Year</a></li>
                <li class="nav-link"><a data-toggle="tab" href="#menu3" class="tab-link">Age Range per Day of Week</a></li>
                <li class="nav-link"><a data-toggle="tab" href="#menu4" class="tab-link">Age per Province</a></li>
                <li class="nav-link"><a data-toggle="tab" href="#menu5" class="tab-link">Victim Type 2</a></li>
                <li class="nav-link"><a data-toggle="tab" href="#menu6" class="tab-link">Cases per Year</a></li>
              </ul>

            
              <div class="tab-content">
                <div id="menu0" class="tab-pane active">
                  
                  <img class="d-block w-100" src="https://i.imgur.com/T1L6BMb.png" alt="First slide">
                  <p>The majority of the victims are young adults in an age range in which the society expects them to be mothers and/or professionals and/or independent</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                  
                  <img class="d-block w-100" src="https://i.imgur.com/WKq6BAB.png" alt="Second slide">
                  <p>We can observe there are small but important linked cases that respond to children, relatives or friends of the target victim of the femicide, in order to torment and control her.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                  
                  <img class="d-block w-100" src="https://i.imgur.com/ovXkLdR.png" alt="Third slide">
                  <p>The great ascent and fall are due to the completeness of the data for those years. With that clarification, an increase is observed in the cases year by year.</p>
                </div>
                <div id="menu3" class="tab-pane fade">
                  
                  <img class="d-block w-100" src="https://i.imgur.com/cHoxB04.png" alt="Fourth slide">
                  <p>There is a growing stream of cases towards the weekend. It can be related to an atypical moment of the week: the obligations decrease, there is more free time, more social activities, more money spent, etc.</p>
            	</div>
                <div id="menu4" class="tab-pane fade">
                  
                  <img class="d-block w-100" src="https://i.imgur.com/rUOwr4u.png" alt="Fifth slide">
                  <p>Except La Pampa and San Luis, the average age is almost constant in the rest of the provinces.</p>
                </div>
                <div id="menu5" class="tab-pane fade">
                  
                  <img class="d-block w-100" src="https://i.imgur.com/gjnKp03.png" alt="Sixth slide">
                  <p>It can be observed that women are the most killed, followed by a small number of men (linked cases like their childs or partners/lovers). Follow [this link](http://www.ign.gob.ar/NuestrasActividades/Geografia/DatosArgentina/DivisionPolitica) for demographic information.</p>
                </div>
                <div id="menu6" class="tab-pane fade">
                  
                  <img class="d-block w-100" src="https://i.imgur.com/5SpqCkD.png" alt="Seventh slide">
                  <p></p>
                </div>
              </div>
            </div>
            <!-- End Dynamic Tabs -->
            
            
            <!-- Scroll Trigger           <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->
          </div>
        </div>
      </div>
    </section>
    
    <!-- Bottom Section -->
    <section id="bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">CONCLUSIONS</h2>
            <hr class="my-4">
            <h5 class="section-heading">To make a closure on the information displayed by the visualizations I’d like to add that although there is a real growth in violence against women, some specialists also say that more than an increase in cases, there is an increase in denunciations and greater focus on gender violence issues, which can be translated into datasets as a more cases. The patterns related to leasure time cought my attention and I think deeper research can be done about that.</h5>
          </div>
        </div>
      </div>
    </section>


    <!-- Footer Section -->
    <section class="p-0" id="footer">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          
        </div>
      </div>
    </section>
    <!-- This is all black bacground -->
    <section class="bg-dark text-white">
      <div class="container text-center">
        <div class="container">
          
          <div class="row">
            <div class="col">
              <div class="media">
                <img class="mr-3" src="https://i.imgur.com/4vy22bz.jpg" alt="Berenice Headshot">
                <div class="media-body">
                  <h2 class="mt-0">Berenice Larsen Pereyra</h2>
                  Data Scientist aspirant | Python Enthusiast | LinuxChixLP Co-organizer
                  <br>
                  <br>
                  <p>Berenice led the project, pulled the data, created the visuals and wrote on the topic</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="media">
                <img class="mr-3" src="https://i.imgur.com/OKc7p3W.jpg" alt="Jordan Headshot">
                <div class="media-body">
                  <h2 class="mt-0">Jordan Winfery</h2>
                  Web Development N00b | Python Enthusiast | Budding Game Designer
                  <br>
                  <br>
                  <p>Jordan built the webpage's back-end in Django and the front-end in html and css</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <a href="https://github.com/Berelarsenp" target="_blank" class="btn btn-outline-success my-2 my-sm-0" role="button">GitHub</a>
            </div>
            <div class="col">
              <a href="https://github.com/jwinf843" target="_blank" class="btn btn-outline-success my-2 my-sm-0" role="button">GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/scrollreveal.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

  </body>

</html>
